.login-form-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
}

.login-dorm-card {
    min-width: 300px;
}

.loginBtn.btn {
    display: block !important;
    width: 100%;
    margin-top: 16px;
    padding: 7px 0;
}