header {
    margin-bottom: 10px;
}

.fc-timegrid-event, .fc-daygrid-event, .fc-list-event {
    cursor: pointer;
}

.fc-view-harness {
    border-left: 1px solid #646464;
    border-bottom: 1px solid #646464;
    border-top: 1px solid #646464;
}

.modal-dialog {
    z-index: 16 !important;
}

.fc-popover {
    z-index: 15 !important;
}

.notificationMessage {
    position: absolute;
    top: 20px;
    right: 20px;
}


